*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.main-section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width:90%;
    height: 80%;
    max-height: 550px;
    background-color: rgb(237, 241, 241);
    display: flex;
    flex-direction: column;
    
    position: relative;
}
.header{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}
.header img{
    width: 10%;

}
.header h2{
    text-align: center;
    margin-top: 3%;
    margin-left: 5px;color: white;
}

.scroll-content{
    flex-grow: 1;
    overflow-y:scroll;
    padding: 15px;
    background-color: #f9f9f9;
}
.chatbot-msg-container{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px 10px 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 70%;
    margin:2%;
   
}
.chatbot-msg-container img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-msg-card{
    
}
.user-msg-container{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 10px;
}
.user-msg-container img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-msg-container p{
    background-color: #50a5aa;
    color: white;
    padding: 10px 15px;
    border-radius: 10px 10px 0 10px;
    margin: 0;
    font-size: 14px;
    max-width: 70%;
    word-wrap: break-word;
}

.send-msg-container{
    background-color: white;
   display: flex;
    align-items: flex-end;
    justify-content: end;
   
}
.input{
   display: flex;
   width: 100%;
   align-items: center;
   border-radius: 10px;
}
.input input{
    border-radius: 15px;
    padding: 10px;
    width:100%;
    outline: none;

}
.input i{
    font-size: 20px;
    display: flex;
    align-items: center;
    background-color: green;
    border-radius: 50%;
    color: white;
    padding: 10px;
    
}