img{
    width: 25%;
}
input{
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
}
.title{
    font-family: "Roboto";
    font-size: 35px;
    padding: 10px;
}
.description{
    font-family: "Roboto";
    padding: 10px;
}
    

.link{
    font-family: "Roboto";
    font-size: 25px;
    padding: 10px;
}
